@page
@model JobFinder.Areas.Identity.Pages.RecruiterInfo.AboutModel
@{
    ViewData["CompanyName"] = "Company Name";
    ViewData["Address"] = "221 Trần Cao Vân, Quận Thanh Khê, Thành Phố Đà Nẵng";
    ViewData["StaffSize"] = "1000";
    ViewData["CompanyImage"] = "CompanyImage";
    Layout = "~/Areas/Identity/Pages/RecruiterInfo/Shared/_RecruiterLayout.cshtml";
}
<div class="col-lg-8 mb-md-0 mb-4" style="margin-top: 20px;">
    <div class="card">
        <div class="single-job-items mb-50" style="padding: 30px 10px; margin-bottom: 0.00; display: block;">
            <div class="job-items" style="display: block">
                <div class="company-img">
                    <div class="job-tittle job-tittle2" style="margin-left: 15px;">
                        <div style="display: flex; align-items: center;">
                            <h4 style="margin: 0;">About</h4>
                        </div>
                        <div>
                            <div style="white-space: pre-line;">
                                Company Description
                                **Our Mission
                                To help people achieve their dreams. That's why we call our employees "Dream-Makers"​.

                                **Our Vision
                                Deliver a superior solution for recruiting high quality professionals. We guarantee results, offer fast, flexible, professional service, and we do it with love for our customers and job seekers!

                                **Our Values

                                >> Wow! Service
                                We delight our Customers and Job Seekers with extraordinary service! We follow the golden rule: “Treat others the way we would like to be treated”.

                                >> Straight Talk!
                                We communicate honestly, openly and directly to strengthen trust and move forward. We don’t gossip or complain behind others’ backs, we communicate directly and take responsibility for change.

                                >> Own It!
                                We take responsibility and take ownership for our actions and for delivering results. We make and keep our commitments. This means we do what we say we will do.

                                >> Improve It!
                                We achieve excellence through continuous improvement. We develop and grow ourselves and each other through coaching, training and stretching beyond our comfort zone. We take initiative and take action to make improvement.
                                --------------------------------------------------------------------------------------------------------------------------

                                VietnamWorks has launched Mobile App – the fastest & easiest way to get your dream jobs
                                Now available on Appstore at: http://bit.ly/VNW_iOSApp
                                Now available on Google Play at: http://bit.ly/VNW_AndroidApp
                                <ul>
                                    <li><strong>Website: </strong></li>
                                    <li>https://fu-edunext.fpt.edu.vn/course?id=1080</li>
                                    <li><strong>Company Phone: </strong></li>
                                    <li>0913571450</li>
                                    <li><strong>Company Email: </strong></li>
                                    <li>quangvancompany@gmail.com</li>
                                    <li><strong>Address: </strong></li>
                                    <li>221 Trần Cao Vân, Quận Thanh Khê, Thành Phố Đà Nẵng</li>
                                    <li><strong>Staff Size: </strong></li>
                                    <li>1000 people</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>