@page "/AccessDenied/"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="text-center py-5 bg-light border-bottom">
        <h1 class="display-4 text-danger font-weight-bold">@ViewData["Title"]</h1>
        <p class="lead text-muted">You do not have access to this resource.</p>
    </div>
</header>