@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<div>
    @Model.StatusMessage
    Wait a bit to fill form
</div>


@if (!string.IsNullOrEmpty(Model.StatusMessage) && Model.StatusMessage.Contains("successful"))
{
    @if (Model.IsRecruiter)
    {
        <script type="text/javascript">
            setTimeout(function () {
                window.location.href = '/RegisterRecruiter?userId=@Model.UserId'; // Redirect with userId in query string
            }, 5000); // 5000 milliseconds = 5 seconds
        </script>
    }
    else
    {
        <script type="text/javascript">
            setTimeout(function () {
                window.location.href = '/RegisterJobSeeker?userId=@Model.UserId'; // Redirect with userId in query string
            }, 5000); // 5000 milliseconds = 5 seconds
        </script>
    }
}
