@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="d-flex flex-column align-items-center justify-content-center" style="height: 45vh; font-family: Arial, sans-serif; text-align: center;">
    <h2 class="text-center mb-3">@ViewData["Title"]</h2>
    <div>
        <p style="font-size: 18px; color: #34495e;">
            We've sent a password reset link to your email address.
        </p>
        <p style="font-size: 16px; color: #7f8c8d; margin-top: 20px;">
            Please check your inbox and follow the instructions to reset your password.
        </p>
    </div>
</div>
