@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2 class="text-center mb-1">@ViewData["Title"]</h2>
<div style="font-family: Arial, sans-serif; text-align: center; margin-top: 50px;">
    <p style="font-size: 18px; color: #34495e;">
        We've sent a password reset link to your email address.
    </p>
    <p style="font-size: 16px; color: #7f8c8d; margin-top: 20px;">
        Please check your inbox and follow the instructions to reset your password.
    </p>
</div>
