@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header class="text-center py-5 bg-light">
    <h1 class="display-4 text-danger font-weight-bold">@ViewData["Title"]</h1>
    <p class="lead text-muted">This account has been temporarily locked. Please try again later.</p>
</header>
