@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


@{
    <div style="font-family: Arial, sans-serif; text-align: center; margin-top: 50px;">
        <p style="font-size: 18px; color: #34495e; margin-top: 20px;">
            Please check your email to confirm your account.
        </p>
        <p style="font-size: 16px; color: #7f8c8d;">
            Once your account is confirmed, you'll be able to log in and access all features.
        </p>
    </div>

}

