@page
@model JobFinder.Pages.UserModel
@{
}
<h1 class="text-center"> Welcome to your User: @Model.appUser?.UserName  </h1>

<div> 
    User Name : @Model.appUser?.UserName
</div>
<div>
    Email : @Model.appUser?.Email
</div>