@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var CompanyName = ViewData["CompanyName"] as string;
    var Address = ViewData["Address"] as string;
    var StaffSize = ViewData["StaffSize"] as string;
    var CompanyImage = ViewData["CompanyImage"] as string;
}
<head>
    <link href="~/assets/css/Recruiter.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .limited-text {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            max-height: 4.5em;
        }

        .text-container {
            position: relative;
        }

        .see-more-link {
            display: block;
            text-align: right;
            margin-top: 5px;
            color: #007bff;
            text-decoration: underline;
        }

        pre {
            white-space: pre-wrap;
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<div class="g-sidenav-show bg-gray-200">
    <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row mb-4 g-sidenav-show bg-gray-200">
            <div class="col-lg-8 mb-md-0 mb-4">
                <div class="card" style="margin-bottom: 20px; height: 220px;">
                    <div class="single-job-items mb-50" style="padding: 20px 30px;">
                        <div class="job-items" style="display: flex; flex-wrap: nowrap; flex-direction: column; justify-content: flex-start;">
                            <div class="company-img">
                                <a href="#">
                                    <img src="@CompanyImage" alt="" style="width: 80px; height: 80px;">
                                </a>
                            </div>
                            <div class="job-tittle job-tittle2" style="margin-left: 15px;">
                                <div style="display: flex; align-items: center;">
                                    <h4 style="margin: 0;">@CompanyName</h4>
                                </div>
                                <ul style="list-style-type: none; padding-left: 0; margin-top: 5px;">
                                    <li style="margin-right: 20px;">@Address| @StaffSize  people</li>
                                </ul>
                            </div>
                            <div style=" bottom: 5px; position: absolute; width: 100%;">
                                <nav>
                                    <ul style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; gap: 20px;">
                                        <li style="color">
                                            <a asp-page="./Index" style="color: black">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-page="./About" style="color: black">
                                                About
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-page="./Posts" style="color: black">
                                                Posts
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!---->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal cho EditCompanyInfo -->
            <div class="modal fade" id="editCompanyInfoModal" tabindex="-1" aria-labelledby="editCompanyInfoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editCompanyInfoModalLabel">Edit Company Information</h5>
                            <a type="button" data-bs-dismiss="modal" aria-label="Close" onclick="reloadPage()"><i class='bx bx-x'></i></a>
                        </div>
                        <div class="modal-body">
                            <iframe src="/Identity/RecruiterInfo/Shared/EditCompanyInfo" frameborder="0" style="width:100%;height:400px;"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" style=" height: 200px">
                <div class="card h-100">
                    <div class="card-body p-3">
                        <div style=" display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center; flex-direction: row;">
                            <div>
                                <span>
                                    Edit Company
                                </span>
                                <p>Edit</p>
                            </div>
                            <a href="#" style="color: black" data-bs-toggle="modal" data-bs-target="#editCompanyInfoModal">
                                <i class='bx bxs-edit'></i>
                            </a>
                        </div>
                        <hr style="margin: 10px 0;">
                        <div style=" display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center; flex-direction: row; margin: 20px 0;">
                            <div>
                                <span>
                                    Job Posting
                                </span>
                                <p>Post</p>
                            </div>
                            <a href="#" style="color: black">
                                <i class='bx bxs-edit'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
</div>
<script>
    function reloadPage() {
        location.reload();
    }

    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('editCompanyInfoModal');
        modal.addEventListener('hidden.bs.modal', function () {
            reloadPage();
        });
    });
</script>